
.img1{
    width: 300px;
}
#about{
    width: 600px;
    height: 300px;
}
.titile{
    font-weight: bold;
}
.social{
    width: 40px;
    height: 40px;
}
.warning{
    height: 2px;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
.bgc{
    background-color: rgb(92, 219, 149);    
}
